<template>
    <lightning-card title="Task-1 Account List">
        <lightning-input label="Search key" onchange={onSearchHandler}></lightning-input>
        <div class="slds-p-left_xx-large">
            <template if:true = {recordResponse}>
                <template for:each = {accountList} for:item="account">
                    <div key = {account.Id}>{account.Name}</div>
                </template>
            </template>
            <template if:true={error}>
                {error}
            </template>
        </div>
    </lightning-card>
</template>