<template>
    <lightning-card title="Task-2 Account List">
        <lightning-input label="Search key" onchange={onSearchHandler}></lightning-input>
        <lightning-button label="Search" onclick={onSearchButtonHandler}></lightning-button>
        <div class="slds-p-left_xx-large">
            <template if:true = {recordResponse}>
                <template for:each = {accountList} for:item="account">
                    <div key = {account.Id}>{account.Name}</div>
                </template>
            </template>
        </div>
    </lightning-card>
</template>