<template>
    <lightning-card>
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-input type="text" label="Account Name" name="Name" onchange={onChangeHandler} required></lightning-input>
                </div>
            </div>
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-input type="number" label="Phone" name="Phone" onchange={onChangeHandler}></lightning-input>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-input type="search" label="Parent Account" onchange={onChangeHandler} placeholder="Search Accounts..." name="ParentId">
                    </lightning-input>
                </div>
            </div>
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-input type="text" label="Fax" name="	Fax" onchange={onChangeHandler}></lightning-input>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-input type="text" label="Account Number" onchange={onChangeHandler} name="AccountNumber"></lightning-input>
                </div>
            </div>
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-input type="text" label="Website" name="Website"  onchange={onChangeHandler}></lightning-input>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-input type="text" label="Account Site" name="Site" onchange={onChangeHandler}></lightning-input>
                </div>
            </div>
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-input type="text" label="Ticker Symbol" name="TickerSymbol" onchange={onChangeHandler}></lightning-input>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-combobox name="Type" label="Type" value={value1}  placeholder="Select Type"
                        options={options} onchange={onChangeHandler}>
                    </lightning-combobox>
                </div>
            </div>
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-combobox name="Ownership" label="Ownership" value={value2} placeholder="Select Ownership"
                        options={options2} onchange={onChangeHandler}>
                    </lightning-combobox>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-combobox name="Industry" label="Industry" value={value3} placeholder="Select Industry"
                        options={options3} onchange={onChangeHandler}>
                    </lightning-combobox>
                </div>
            </div>
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-input type="text" label="Employees" name="NumberOfEmployees" onchange={onChangeHandler}></lightning-input>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-input type="text" label="Annual Revenue" name="AnnualRevenue" onchange={onChangeHandler}></lightning-input>
                </div>
            </div>
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-input type="text" label="SIC Code" name="SicDesc" onchange={onChangeHandler}></lightning-input>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-input-address address-label="Billing Address" street-label="Billing Street"
                        city-label="Billing City" country-label="Billing Country"
                        province-label="Billing State/Provience" postal-code-label="Billing Zip/Postal Code" street=""
                        city="" country="" province="" postal-code="" field-level-help="" name="BillingAddress" onchange={addressHandler}>
                    </lightning-input-address>
                </div>
            </div>
            <div class="slds-col">
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-input-address address-label="Shipping Address" street-label="Shipping Street"
                        city-label="Shipping City" country-label="Shipping Country"
                        province-label="Shipping State/Provience" postal-code-label="Shipping Zip/Postal Code" street=""
                        city="" country="" province="" postal-code="" field-level-help="" name="ShippingAddress" onchange={addressHandler}>
                    </lightning-input-address>
                </div>
            </div>
        </div>
        <div class="slds-col">
            <div class="slds-p-around_medium lgc-bg">
                <lightning-button variant="brand" label="Save" onclick={createRecordHandler} class="slds-m-left_x-small">
                </lightning-button>
            </div>
        </div>
        <!-- <lightning-input-address
                address-label=""
                street-label=""
                city-label=""
                country-label=""
                province-label=""
                postal-code-label=""
                street=""
                city=""
                country=""
                province=""
                postal-code=""
                required
                field-level-help="" >
        </lightning-input-address> -->
    </lightning-card>
</template>